<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mi.statistics.mapper.TbStatisticsMapper">
    
    <resultMap type="TbStatistics" id="TbStatisticsResult">
        <result property="id"    column="id"    />
        <result property="businessType"    column="business_type"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbStatisticsVo">
        select id, business_type, begin_time, end_time, update_time, create_time from tb_statistics
    </sql>

    <select id="selectTbStatisticsList" parameterType="TbStatistics" resultMap="TbStatisticsResult">
        <include refid="selectTbStatisticsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="businessType != null "> and business_type = #{businessType}</if>

        </where>
    </select>
    
    <select id="selectTbStatisticsById" parameterType="Long" resultMap="TbStatisticsResult">
        <include refid="selectTbStatisticsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbStatistics" parameterType="TbStatistics" useGeneratedKeys="true" keyProperty="id">
        insert into tb_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessType != null ">business_type,</if>
            <if test="beginTime != null ">begin_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessType != null ">#{businessType},</if>
            <if test="beginTime != null ">#{beginTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTbStatistics" parameterType="TbStatistics">
        update tb_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessType != null ">business_type = #{businessType},</if>
            <if test="beginTime != null ">begin_time = #{beginTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbStatisticsById" parameterType="Long">
        delete from tb_statistics where id = #{id}
    </delete>

    <delete id="deleteTbStatisticsByIds" parameterType="String">
        delete from tb_statistics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>